* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.black {
    background-color: #252323;
}

.accent {
    background-color: #1C5BFF;
}